################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Project/.vs/
/Project/x64
/Project/VisualSt.e45d9127/x64
/Project/Project/x64
/KeyGuide/.vs
/KeyGuide/VisualSt.e45d9127/x64
/KeyGuide/x64
/VoxelTool/.vs
/VoxelTool/VoxelTool/x64
/VoxelTool/x64
/VoxelTool/Log.txt
/ArmAnim/.vs
/ArmAnim/ArmAnim/x64
/ArmAnim/x64
Log.txt
/ProjectJAM/.vs
/ProjectJAM/Project/x64
/ProjectJAM/x64
/ModelDraw/.vs
/ModelDraw/Project/x64
/ModelDraw/x64
/ModelDraw/VoxelTool
/DanmakuTool/.vs
/DanmakuTool/VoxelTool/x64
/DanmakuTool/x64
/DanmakuTool/data/movie.mp4
/ProjectJAM/data/Sound/BGM
