################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/KeyGuide/.vs/
/KeyGuide/x64
/KeyGuide/VisualSt.e45d9127/x64
